@import url('https://fontlibrary.org/face/glacial-indifference');

::root {
  --vui-navbar-bg: ;
  --vui-navbar-color: ;
  --vui-subtitle-color: #3c3d40;
}

body {
  font-family: 'GlacialIndifferenceRegular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}

.vui.navbar {
  padding: 5px;
  display: var(--vui-navbar-display);
  margin: 0;
  background-color: var(--vui-navbar-bg);
  color: var(--vui-navbar-color);
}

.vui.main {
  padding: 10px;
}

.vui.subtitle {
  opacity: 0.5;
  color: var(--vui-subtitle-color);
}